body {
	font-family: sans-serif;
	text-align: center;
	/*color: white;*/
	margin: 0;
	/*background-image: linear-gradient(#010A01, green, #010A01);*/
	background-image: url("../img/star.jpg");
}

nav{
	/*background-image: url("img/background.gif");*/
	background-color: #010A01;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	z-index:1;
}

h1 {
	text-align: center;
	color: #EDC436;
	font-size: 80px;
}
h2 {
	text-align: left;
	color:#FFEA9E;
	font-size: 40px;
	width: 50%;
	margin: auto;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 15px;
}

img {
	width: 100%;
	height: 10%;
}

.panel {
	background-image: url("../img/star.jpg");
}

.panel p {
	text-align: justify;
}

a {
	color: #FFEA9E;
	text-decoration: none;
	font-weight: bold;
}

i {
	margin-right: 7px;
}

/*Marcamos el elemento actual*/
mark {
	font-weight: bold;
	color: black;
	background-color: transparent;
}

footer {
	color: white;
	background-color: transparent;
	width: 30%;
	margin: auto;
}

footer i {
	margin-left: 7px;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 300%;
		margin-top: 225px;
	}

	h2 {
		font-size: 180%;
	}

	footer {
		color: white;
		background-color: transparent;
		width: 100%;
		margin: auto;
		font-size: 100%;
	}

	footer i {
		margin-left: 7px;
	}

	iframe {
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	h1 {
		font-size: 400%;
	}

	h2 {
		font-size: 200%;
	}

	footer {
		color: white;
		background-color: transparent;
		width: 100%;
		margin: auto;
		font-size: 100%;
	}

	footer i {
		margin-left: 7px;
	}

	iframe {
		width: 100%;
	}
}